<% pages = past_sorted_articles.slice(@item_id*@config[:page_size], @config[:page_size]) %>
<% pages.each do |article| %>
  <h1><%=link_to(article[:title],article) %></h1>
  <%= article.compiled_content %>
  <div class="created_at"><%= pretty_time(article[:created_at]) %></div>
  <hr/>
<% end %>
<%= (0 == @item_id ? 'No previous' : link_to('Prev', item_by_identifier("/archive/page/#{@item_id}/"))) %>
|
<%= (@nr_pages == @item_id+1 ? 'No older' : link_to('Next', item_by_identifier("/archive/page/#{@item_id+2}/"))) %>
